.categoryWrapper {
  display: flex;
  justify-content: start;
}
.wrapper{
  min-width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.productCard {
  margin: 20px;
  min-width: 320px;
  max-width: 320px;
  background-color: azure;
  transition: transform 0.2s;
}
.productCardCart {
  margin: 20px;
  min-width: 330px;
  max-width: 330px;
  background-color: azure;
}
.productCard:hover{
    cursor: pointer;
    transform: scale(1.04);
}
.image {
  background-color: gray;
  width: 100%;
  height: 310px;
}
.namePriceSection {
  margin: 10px;
  text-align: center;
}
.namePriceSection span{
  padding: 0 10px;
}
