.navBar{
    /* width: 100%; */
    /* height: 200px; */
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 59, 89);
}

.navLinksDiv span{
    padding: 5px;
    
}
.navLinksDiv img{
    width: 40px;
}