.navBar {
  padding: 30px;
  text-align: center;
  background-color: var(--paler-color);
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.2);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.loginCartDiv{
  display: flex;
}
.cartDiv{
  margin-left: 40px;
}
.cartDiv img {
  width: 40px;
}
.counter {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -45px;
  margin-left: 15px;
  border-radius: 11px;
  background-color: rgb(255, 57, 57);
  color: white;
}
