.navBar {
  /* width: 100%; */
  /* height: 200px; */
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 59, 89);
}
.siteLogoDiv {
  display: flex;
  align-items: center;
}
.siteLogoDiv h1 {
  font-size: 50px;
}
.linksDiv {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  margin: 0;
}
/* .cartDiv{
  position: relative;
} */
.cartDiv img {
  width: 40px;
}
.counter{
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -45px;
  margin-left: 17px;
  border-radius: 11px ;
  /* font-size: 14px; */
  background-color: red;
  color: white;
}