.container{
margin: 50px;
}
.categoryWrapper{
    display: flex;
    justify-content: start;
    
}
.productCard{
    margin: 20px;
    min-width: 300px;
    background-color: gray;
}
.image{
    background-color: azure;
    width: 100%;
    height: 300px;
}
.namePriceSection{
    margin: 10px;
}