.container {
    padding-top: 80px;
}
.inputWrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 500px;
    background-color: #f4637b;
    padding: 20px;
}

.inputs,
.buttons,
.labels {
    width: 400px;
    /* padding: 10px; */
    margin: 5px;
}
.inputs,
.buttons {
    padding: 10px;
}
label {
    font-size: large;
    font-weight: bold;
}
